.card {
    display: flex;
    align-items: center;
    border: 1px solid #121212;
  }
  
  .reverse {
    flex-direction: row-reverse;
  }
  
  .imageContainer {
    flex: 1;
  }
  
  .image {
    width: 720px;
    height: 720px;
    border: 1px solid #121212;
    object-fit: cover;
  }
  
  .textContainer {
    flex: 1;
    text-align: left;
    border: 1px solid #121212;
    height: 720px;
  }
  
  .textContainer h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .textContainer p {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
  }
  